
<% if @name %>
<h1>My name is <%= @name %></h1>
<% end %>

<% if @color %>
<h2>My eyes are <%= @color %></h2>
<% end %>

<form action="/named-cat">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>

<!-- <% if @adorable == "true" %>
<h2>Aren't I adorable? :)</h2>
<% end %> -->
<div>
<img src='http://bit.ly/1eze8aE' style='border:5px dashed red;'>
</div>
